<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>О велопутешествиях</title>
    <link rel="stylesheet" href="../css/1.css">
</head>
<body>
<nav>

    <ul class="navigation">
        <li><a href="#">Главная</a></li>
        <li><a href="https://vk.com/viktoryaroshenko">Мои соцсети</a></li>
        <li><a href="https://t.me/viktoryary1992">Связаться со мной</a></li>
</ul>
</nav>
<div class="header">
    <div class="inner-header">
        <div class="logo-container">
            <a link="#"><h1>Мои путешествия</h1></a>
        </div>
    </div>
</div>
<div class="center-text">
    <h4>О велопутешествиях</h4>
</div>
<hr>
<div class="content" >
    <img src="../media/my_photo.jpg" alt="html" width="281" height="500" style="float: left; margin-right: 10px;">
    <p>Всем привет! Меня зовут Виктор, и я очень люблю путешествовать на велосипеде! </p>
    <p>За последние 10 лет я исколесил многие области в Европейской части нашей страны, и не планирую останавливаться!</p>
</div>

</body>
</html>


